<?xml version="1.0" encoding="utf-8"?>

<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-f2b"
	version="1.0.0"
>
	<engines>
        <engine name="cordova" version=">=6.0.0" />
    </engines>

	<name>F2B</name>

	<description>F2B plugin for Cordova</description>

	<author>Mateusz Borysewicz</author>

	<keywords>cordova</keywords>

	<license>MIT</license>

	<js-module name="F2B" src="www/F2BPlugin.js">
		<clobbers target="cordova.plugins.F2B"/>
	</js-module>

	<js-module name="screenorientation" src="www/screenorientation.js">
		<clobbers target="cordova.plugins.screenorientation"/>
		<clobbers target="screen.orientation"/>
	</js-module>

	<platform name="android">
		<source-file src="src/android/F2B.java" target-dir="src/com/myf2b"/>
		<source-file src="src/android/CDVOrientation.java" target-dir="src/cordova/plugins/screenorientation"/>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="F2B">
				<param name="android-package" value="com.myf2b.F2B"/>
			</feature>
			<feature name="CDVOrientation">
				<param name="android-package" value="cordova.plugins.screenorientation.CDVOrientation"/>
			</feature>
		</config-file>

		<dependency id="es6-promise-plugin" version="^4.1.0"/>
	</platform>
	
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="F2B">
				<param name="ios-package" value="F2B"/>
			</feature>
			<feature name="CDVOrientation">
				<param name="ios-package" value="CDVOrientation"/>
			</feature>

			<access origin="http://localhost" />
      		<allow-navigation href="http://localhost:*/*" />
		</config-file>

		<header-file src="src/ios/F2B.h"/>
		<source-file src="src/ios/F2B.m"/>

		<header-file src="src/ios/CDVOrientation.h"/>
		<source-file src="src/ios/CDVOrientation.m"/>
		<header-file src="src/ios/CDVViewController+Orientation.h"/>
		<source-file src="src/ios/CDVViewController+Orientation.m"/>

		<header-file src="src/ios/GCDWebServer/GCDWebServer.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerConnection.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerFunctions.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerHTTPStatusCodes.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerPrivate.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerRequest.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerResponse.h" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerConnection.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerFunctions.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerRequest.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerResponse.m" />

	    <header-file src="src/ios/GCDWebServer/GCDWebServerDataRequest.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerFileRequest.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerMultiPartFormRequest.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerURLEncodedFormRequest.h" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerDataRequest.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerFileRequest.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerMultiPartFormRequest.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerURLEncodedFormRequest.m" />

	    <header-file src="src/ios/GCDWebServer/GCDWebServerDataResponse.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerErrorResponse.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerFileResponse.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServerStreamedResponse.h" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerDataResponse.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerErrorResponse.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerFileResponse.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServerStreamedResponse.m" />

	    <framework src="AssetsLibrary.framework" />
	    <framework src="MobileCoreServices.framework" />
	    <framework src="CFNetwork.framework" />
        <framework src="libz.dylib" />

	</platform>
</plugin>
