<?xml version="1.0" encoding="utf-8"?>

<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-f2b"
	version="1.0.0"
>
	<engines>
        <engine name="cordova" version=">=6.0.0" />
    </engines>

	<name>F2B</name>

	<description>F2B plugin for Cordova</description>

	<author>Mateusz Borysewicz</author>

	<keywords>cordova</keywords>

	<license>MIT</license>

	<js-module name="F2B" src="www/F2BPlugin.js">
		<clobbers target="cordova.plugins.F2B"/>
	</js-module>

	<!-- <platform name="android">
		<source-file src="src/android/F2B.java" target-dir="src/com/myf2b/f2b"/>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="F2B">
				<param name="android-package" value="com.myf2b.F2B"/>
			</feature>
		</config-file>
	</platform> -->
	
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="F2B">
				<param name="ios-package" value="F2B"/>
			</feature>

			<access origin="http://localhost" />
      		<allow-navigation href="http://localhost:*/*" />
		</config-file>

		<header-file src="src/ios/F2B.h"/>
		<source-file src="src/ios/F2B.m"/>

		<header-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServer.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerConnection.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerFunctions.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerHTTPStatusCodes.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerPrivate.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerRequest.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerResponse.h" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServer.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerConnection.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerFunctions.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerRequest.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Core/GCDWebServerResponse.m" />

	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Requests/GCDWebServerDataRequest.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Requests/GCDWebServerFileRequest.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Requests/GCDWebServerMultiPartFormRequest.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Requests/GCDWebServerURLEncodedFormRequest.h" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Requests/GCDWebServerDataRequest.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Requests/GCDWebServerFileRequest.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Requests/GCDWebServerMultiPartFormRequest.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Requests/GCDWebServerURLEncodedFormRequest.m" />

	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Responses/GCDWebServerDataResponse.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Responses/GCDWebServerErrorResponse.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Responses/GCDWebServerFileResponse.h" />
	    <header-file src="src/ios/GCDWebServer/GCDWebServer/Responses/GCDWebServerStreamedResponse.h" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Responses/GCDWebServerDataResponse.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Responses/GCDWebServerErrorResponse.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Responses/GCDWebServerFileResponse.m" />
	    <source-file src="src/ios/GCDWebServer/GCDWebServer/Responses/GCDWebServerStreamedResponse.m" />

	    <framework src="AssetsLibrary.framework" />
	    <framework src="MobileCoreServices.framework" />
	    <framework src="CFNetwork.framework" />
        <framework src="libz.dylib" />

	</platform>
</plugin>
